/* For navigation */
nav {
  z-index: 3;
  top: 0;
  position: sticky;
  display: flex;
  justify-content: center;
}
nav ul {
  background-color: #1E1F1E; 
  list-style-type: none;
  width: 100vw;
  overflow: hidden;
}

li .nav-link, li .title {
  color: white;
  float: left;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

li .title {
  font-family: "Zen Dots";
}

li .nav-link:hover {
  background-color: #A24936;
}

/* for mobile */
#hamburger {
  height: 30px;
  margin: 12.5px 0;
  margin-right: 10px;
  float: right;
}

#hamburger:hover {
  cursor: pointer;
}

#navigationPanel {
  background-color: #1E1F1E;
  padding: 20px;
  height: 90vh;
  width: 100%;
  position: fixed;
  /* bottom: 0; */
  z-index: 2;
  transform: translateY(-150vh);
}
#navigationPanel p {
  width: 100%;
}
#navigationPanel a {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  /* background-color: #A24936; */
}

@keyframes showPanel {
  0% {
    transform: translateY(-150vh);
  } 100% {
    transform: translateY(0vh);
  }
}
@keyframes closePanel {
  0% {
    transform: translateY(0vh);
  } 100% {
    transform: translateY(-150vh);
  }
}

/* For back-drop */

.back-drop {
  background-color: black;
  height: 92vh;
}

.back-drop img {
  z-index: -;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 50%;
}

.back-drop h1 {
  position: absolute;
  top: 45%;
  z-index: 1;
  color: white;
}
