---
import './components-style.css'
import '@fontsource/zen-dots'
var isMobile = false;
---

<nav>
  <ul>
    <div id="navigation">
      <li><p class="title">PondeersMC</p></li>
      <!-- Normal navbar on this -->
      <div id="normalDesktop" style="display: block">
        <li><a href="/" class="nav-link">Home</a></li>
        <li><a href="/server-map/" class="nav-link">Server Map</a></li>
        <li><a href="/install-mods/" class="nav-link">Install Mods</a></li>
        <li><a href="/discord/" class="nav-link">Discord</a></li>
      </div>
      <!-- For mobile -->
      <div id="normalMobile">
        <div id="showAllNavigation"><img id="hamburger" src="/svgs/bars-solid.svg"></div>
      </div>
    </div>
  </ul>
</nav>
<div id="navigationPanel" class="animation">
  <p><a href="/" class="panel-link">Home</a></p>
    <a href="/server-map/" class="panel-link">Server Map</a><br>
  <a href="/install-mods/" class="panel-link">Install Mods</a><br>
  <a href="/discord/" class="panel-link">Discord</a><br>
</div>

<script define:vars={{ isMobile }}>
// all navbar-tyoes
const normalDesktop = document.getElementById("normalDesktop");
const normalMobile = document.getElementById("normalMobile");
// check if content is mobile
let client_isMobile = isMobile 
if (window.innerWidth < 732) {
  client_isMobile = true;
}

if (client_isMobile == true) {
  normalDesktop.style.display = "none";
  normalMobile.style.display = "block"
} else {
  normalDesktop.style.display = "block";
  normalMobile.style.display = "none"
}

let showAllNavigation = document.getElementById("showAllNavigation");
let navigationPanel = document.getElementById("navigationPanel");
let hamburger = document.getElementById("hamburger")
let naviagtionOn = false

showAllNavigation.addEventListener("click", () => {
  if (naviagtionOn == false) {
    navigationPanel.style.animation = "showPanel 1s ease-out forwards";
    hamburger.src = "/svgs/xmark-solid.svg";
    naviagtionOn = true;
  } else {
    navigationPanel.style.animation = "closePanel 1s ease-in forwards";
    hamburger.src = "/svgs/bars-solid.svg";
    naviagtionOn = false;
  }
});
</script>

