---
import './components-style.css'
import '@fontsource/zen-dots'

const title = ["Home", "Server Map", "Install Mods", "Discord"]
const link = ["/", "server-map", "install-mods", "discord"]

---

<nav>
  <ul>
    <li><p class="title">PondeersMC</p></li>

    <li><a href="/" class="nav-link">Home</a></li>
    <li><a href="/server-map/" class="nav-link">Server Map</a></li>
    <li><a href="/install-mods/" class="nav-link">Install Mods</a></li>
    <li><a href="/discord/" class="nav-link">Discord</a></li>

  </ul>
</nav>
