---
import './global.css'
import '@fontsource/zen-dots'
import '@fontsource/ibm-plex-sans'

import NavBar from './components/NavigationBar.astro'
import ImageBack from './components/image-back.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/pondeer_icon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>PondeersMC | Home</title>
	</head>
	<body>

    <NavBar />
    <ImageBack image="https://store-images.s-microsoft.com/image/apps.2678.14492077886571533.a48e9a4a-99a7-44a9-9d97-9e8e72220a7c.6b98c506-61b7-4126-80b6-449f2ff0fb96?q=90&w=480&h=270" altext="main mc back" title="Welcome to the Offical Website of PondeersMC!" />

    <div class="main">


      <h3>About us.</h3>

      <p>
      We are a small community of nerds who really love Mincraft, plain and simple! The server is run (and moderated) but both MJ (dosstress) and Hansel (tardiobscurus). Within the MC server, there are (technically) no rule, no set theme, not restriction, and alot of creackhead energy. If you think you are compatible of these ADHD indusing head aches, then ask either MJ or Hansel!
      <br>
      <br>
      The server is semi-vanilla. Which means that we are recommending you to implement mods. Of course it is not required. But we do recommend implemeting them not only for quality of life stuff; but for optimization as well!
      </p>

      <hr>

      <h3>Rules</h3>

      <p>There are only 4 rules:</p>

      <ol>
        <li>Do not grief</li>
        <li>Do not be a dickhead (unreciprocated bad mouth and related stuff)</li>
        <li>Do not steal (unless the person doesn't mind with)</li>
        <li>And just have fun!</li>
      </ol>

      <p>If you follow these rules, you will have a safe, accepting, and actual fun server!</p>
    </div>

	</body>
</html>
