---
import './global.css'
import '@fontsource/anonymous-pro'
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mod Versions | Last Updated 12/26/2022</title>
</head>
<body>

  <div class="mod_main">
    <pre class="legend">
    LEGEND:
    - ; Removed mods
    + ; Added mods
    </pre>
    <pre>
    <span style="color: green; font-family: 'Anonymous Pro', monospace;">RECENT</span> Added 3 mods | Dec 27 2022

    Dependencies
    ------------
    + Collective

    Quality of Life
    ---------------
    + Tree Harvester

    General Mods
    ------------
    + Stendhal
    </pre>
    <pre>
    Added 8 mods | Dec 25 2022

    Dependencies
    ------------
    + YACL
    + CreativeCore

    Quality of Life
    ---------------
    + FabriZoom
    + Mouse Tweeks

    General Mods
    ------------
    + Ambient Sound v5
    + Presence Footsteps
    + Sound Physics
    + Thorium
    </pre>
    <pre>
    Added 3 mods | Dec 18 2022

    Optimization
    ------------
    + LazyDFU
    + Krypton

    General Mods
    ------------
    + Not Enough Crashes
    </pre>
    <pre>
    Added 1 mod and removed 3 mods | Dec 17 2022

    Dependencies
    ------------
    + Fabric Language Kotlin

    Optimization
    ------------
    - Enhanced block enteties

    General Mods
    ------------
    - Eating animation
    - Vanilla notebook
    </pre>
    <pre>
    Initialized mods | Dec 15 2022
    
    Dependencies
    ------------
    + Mod Menu
    + Fabric API
    + Cloth Config API

    Optimization
    ------------
    + Sodium
    + Sodium Extras
    + Reese's Sodium Options
    + Lithium
    + Exordium
    + Enhanced Block Enteties

    Quality of Life
    ---------------
    + Better F3
    + AdvancementInfo
    + Vanilla Notebook


    General Mods
    ------------
    + Plasmo Voice
    + Chat Heads
    + Eating Animations

    Optional
    --------
    + Visuality
    + Capes
    + Replay Mod
    </pre>
  </div>
  
</body>
</html>
