---
import './global.css'
import '@fontsource/zen-dots'
import '@fontsource/ibm-plex-sans'

import NavBar from './components/NavigationBar.astro'
import ImageBack from './components/image-back.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/pondeer_icon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>PondeersMC | Server Map</title>
	</head>
	<body>

    <NavBar />
    <ImageBack image="/images/image-background/server-map-bg.png" altext="main mc back" title="The Server Map" />

    <div class="map">
      <div class="form" style="margin: 0 auto">
        <label for="maps-view">Select a date to see a specific map:</label>
        <select name="maps-view" id="map-date">
          <option value="01.12.23" selected>Map: 01/12/2022</option>
          <option value="01.05.23">Map: 01/05/2022</option>
          <option value="12.29.22">Map: 12/29/2022</option>
          <option value="12.22.22">Map: 12/22/2022</option>
        </select>
        <label for="maps-view">Select dimension: </label>
        <select name="dimension-view" id="dimension">
          <option value="overworld" selected>Overworld</option>
          <option value="nether">Nether</option>
        </select>
        <button id="showMap">Go!</button>
      </div>
      <iframe src="" style="border: 1px dashed black;" id="mapLink"></iframe>
      <span style="font-size: 10px">(c) <a href="https://unmined.net/">uNmINeD</a> by Balázs Farkas (“megasys”).</span>
    </div>

    <div class="main">
      <p style="text-align: center;">
      The map will be updated every <b>7 days</b>! The next map update will be at <b>1/19</b>.
      </p> 
      <hr>
      <p>If you want to experiment the world itself, you can download the zip file to the world save. <b>Do keep in mind that the save will be the same shown in the world map above!</b>. Press the button below to download it from Google Drive.</p>
      <br>
      <p><a href="https://drive.google.com/file/d/1-84XpkSmOPwAQaj3d3H69xv8nbY9tcM6/view?usp=sharing" class="zip-button">pondeersmc.zip (483.9MB)</a>
      </p>
      <br>
      <p>If you really need the most RECENT save (currently: {new Date().getMonth() + 1} / {new Date().getDate()} / {new Date().getFullYear()}), notify Hansel for that since he is the server admin! Might take some time, since it is a large file.</p>
      <hr>
      <h2>Request your location be set on the map!</h2>
      <form method="post" data-netlify="true" name="requestLocation">
        <p><span style="color: red">*</span> Required</p>
        <label>Minecraft IGN<span style="color: red">*</span>: <input type="text" name="mc-ign" required></label><br>
        <label>Location coords (x, z)<span style="color: red">*</span>: <input type="text" name="coords" required></label><br>
        <label>Name of location you prefer: <input type="text" name="preferredName"></label><br>
        <button type="submit" id="submit_button">Submit!</button>
      </form>
    </div>
<script src="/scripts/serverMapJs.js" is:inline></script>
<style>
  .form {
    font-size: 20px;
    padding: 10px;
  }
  .form select {
    padding: 8px;
  }
  #showMap {
    font-size: 18px;
    padding: 7px 15px;
    border: none;
    background: #F7567C;
  }
  #showMap:hover {
    background: #F52958; 
    cursor: pointer;
  }

  .map {
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px;
  }
  .map iframe {
    width: 100%;
    height: 80vh
  }
  button#submit_button {
    font-size: 14px;
    background-color: #99E1D9;
    border-width: 0;
    padding: 10px;
  }
  button#submit_button:hover{
    background-color: #51CDBE;
    cursor: pointer;
  }
</style>

	</body>
</html>
